$white: #fff;
$black: #000;
$dark: #2D1A61;
$main: #FFD541;
$main2: #E1055F;
$main3: #e0034a;
$light: #F4F3FA;
$buttonBg: linear-gradient(98deg, #d7001a 0%, #e30670 100%);
$sick__item: linear-gradient(180deg, #ffffff33 50%, #ba0000 100%);
$main__flex: linear-gradient(227deg, #faf1ee 0%, #f8e7f9 100%);
$gradient: linear-gradient(180deg, rgba(255, 213, 65, 0.2) 0%, $main 50%);
$gradient_mobile: linear-gradient(180deg, rgba(255, 213, 65, 0.2) 0%, $main 65%);
$form_gradient: linear-gradient(137deg, #fff 2.03%, rgba(255, 255, 255, 0) 100%);
$salad: #c9d24c;
$salad_light: #dbe8bc;
$grey: #BBBBBB;
$grey_ligth: #F2F2F2;
$grey_dark: #bebebe;