.cookie {
  z-index: 90;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(50, 50, 50, 0.9);
  padding: 10px;

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
  }

  &__info {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    flex-grow: 1;
  }

  &__close {
    display: flex;
    flex-grow: 0;
    gap: 10px;
    width: auto;
    row-gap: 10px;

    & button {
      color: #fff;
      white-space: nowrap;
      display: inline-block;
      background-color: #850000;
      width: auto;
      padding: 10px 20px;
      cursor: pointer;
      transition: .3s;
      border-radius: .5rem;

      &:hover {
        background-color: red;
      }
    }
  }
}

@media (max-width: 768px) {
  .cookie {

    &__wrap {
      flex-direction: column;
      align-items: center;
    }

    &__info {
      line-height: 1.2;
      text-align: center;
      margin-right: 0;
    }

    &__close {
      margin: 0 auto;
      padding: 0;
    }
  }
}