.form {
  position: relative;
  z-index: 3;

  &__wrap {
    max-width: 390px;
    margin: 0 auto;
  }

  &__select {
    position: relative;

    &:before {
      content: '';
      display: block;
      background: url('../../assets/img/form__select.svg') no-repeat center / contain;
      position: absolute;
      z-index: 6;
      top: 50%;
      right: 20px;
      width: 7px;
      aspect-ratio: 1 / 1;
      cursor: pointer;
      transform: translateY(-50%);
    }
  }

  &__block {
    margin-bottom: 10px;
    position: relative;

    &:before {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 15px;
      transform: translateY(-50%);
      width: 24px;
      aspect-ratio: 1 / 1;
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      z-index: 4;
    }

    &_name:before {
      background-image: url("../../assets/img/form__name.svg");
    }

    &_phone:before {
      background-image: url("../../assets/img/form__phone.svg");
    }
  }

  &__input {
    font-size: 16px;
    background: $white;
    position: relative;
    z-index: 3;
    padding: 20px 50px 20px 30px;
    cursor: pointer;
    border: none;
    border-radius: 90px;
    outline: none;

    &_grey {
      background: $grey_ligth;
    }
  }
}

@media screen and (max-width: 1440px) {
  .form {
    max-width: 585px;
  }
}

@media screen and (max-width: 1024px) {
  .form {
    max-width: 430px;

    &__wrap {
      max-width: 330px;
    }
  }
}

@media screen and (max-width: 768px) {
  .form {
    max-width: 330px;
    padding: 0 0 20px;

    &__wrap {
      max-width: 255px;
    }

  }
}

@media screen and (max-width: 576px) {
  .form {
    max-width: 480px;
    padding: 15px 0;

    &__wrap {
      max-width: 290px;
    }

  }
}