.price {
  &__item {
    text-align: center;
  }

  &__old {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    text-align: center;
    text-decoration: line-through;
    opacity: .6;
  }

  &__text {
    font-size: 31px;
    font-weight: 900;
  }

  &__new {
    span {
      color: $main2;
      font-size: 40px;
      font-weight: 900;
    }
  }
}

@media screen and (max-width: 1024px) {
  .price {
    &__text {
      font-size: 21px;
    }
  }
}

@media screen and (max-width: 768px) {
  .price {
    &__text {
      font-size: 18px;
    }

    &__new span {
      font-size: 28px;
    }

    &__old span {
      font-size: 21px;
    }
  }
}


@media screen and (max-width: 576px) {
  .price {
    
    &__text {
      font-size: 17px;
      text-align: center;
      margin-top: 10px;
    }

    &__old {
      font-size: 20px;
    }

    &__new span {
      font-size: 55px;
    }
  }
}